<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
        <h2><%= @post.errors.count %> Error(s) prohibited this from being saved:</h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, :placeholder => "Please enter a title", class: "form-control input-lg" %>
	</div>
  <div class="form-group">
		<%= f.label :content %> <br >

		<%= f.trix_editor :content, :placeholder => "Post your content here!", :rows => 10, class: "form-control" %>
	</div>

	<div class="form-actions">
		<%= f.button (f.object.new_record? ? "Create" : "Update") + " Post", class: "btn btn-primary" %>
		<%= link_to "Cancel", posts_path, :class => "btn btn-secondary" %>
	</div>
<% end %>
